@font-face{
	font-family: 'Museo';
	src:url('../fonts/VNF_Museo.ttf');
}
body{
	font-family: 'Open Sans',Helvertica,Arial,Sans-serif;
	font-size: 16px;
	font-weight: 400;
	background: #eeeeee;
	color:#2c3e50;
}
#navbar{
	background: #fff;
}
.box-shadow{
	-webkit-box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.1);
	-o-box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
}
.navbar-brand{
	background:url('../img/logo.png') no-repeat;background-position:0px 5px;
	padding-left: 45px;font-family: 'Museo'}
.navbar-toggle{
	background: #e74c3c;border-color:transparent!important;
}

.btn{background:#e74c3c;color:#fff;border:none;padding:10px 20px;}
.btn:hover,.btn:active,.btn:focus{background:#eb5545;color:#fff;}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default{
	background:#eb5545;color:#fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background:#eb5545;color:#fff;
}
.navbar-default .navbar-toggle .icon-bar{background: #fff}
#button-menu-dropdown{margin-top: 5px;}
#button-menu-dropdown .btn-group.open .dropdown-toggle{box-shadow: none;}
#button-menu-dropdown li a:hover{background:#eb5545;color:white; }
.icon-sprite{
	width: 30px;height: 30px;
	background:url('../img/icon-menu-sprite.png') no-repeat !important;
	display: inline-block;
	background-position: left top !important;
	position: relative;margin-top: -15px;top: 10px;margin-right: 10px;border-radius: 20px;
	-webkit-box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	-o-box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.icon-balanced{background-position: -30px top !important;}
.icon-chainreaction{background-position: -60px top !important}
.icon-periodic{background-position: -90px top !important}
.list-group-item{
	padding:10px;
	padding-left:15%;
	margin-bottom: 0px;
	border:none !important;
	border-bottom: 1px solid #f0f0f0 !important;
	
}
a.item-find-equation:hover, a.item-find-equation:focus,.item-find-equation.actived{
	background: #f8a31c;
}
a.item-balanced-equation:hover, a.item-balanced-equation:focus{
	background: #3c87b9;
}
a.item-chainreaction:hover, a.item-chainreaction:focus{
	background: #233343;
}
a.item-periodic:hover, a.item-periodic:focus{
	background: #118e76;
}
a.list-group-item:hover, a.list-group-item:focus,.list-group-item.actived{
	color:white;
}
#search-results{
	background: #fff;margin-top: 20px;
	padding:10px;
}
.input-form{margin-bottom: 5px;margin-right:12px;height: 40px;}
.span-color{
	color:#e74c3c;margin-left: 3%;margin-right: 3%
}
.result{
	width: 100%;padding: 20px;
	border-bottom: 1px solid  #f0f0f0;
}
.equation{
	font-size: 20px;font-weight: 600;
}
.icon-conditions{
	width: 13px;height: 16px;background: url('../img/icon-conditions.png') no-repeat left;
	display: inline-block;margin-right: 10px
}
.conditions{
	font-size: 14px;color:#898989;margin-left: 10px;

	/*background: url('../img/icon-conditions.png') no-repeat left;*/
}
<<<<<<< HEAD
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
	background:#e74c3c;border:1px solid #e74c3c; 
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus{
	background: #e74c3c;color:#fff;border:1px solid #e74c3c; 
=======
.pagination ul > li > a:hover, .pagination ul > li > span:hover, .pagination ul > li > a:focus, .pagination ul > li > span:focus{
	background:#e74c3c;border:1px solid #e74c3c;color:#fff; 
}
.pagination ul > .active > a, .pagination ul > .active > span, .pagination ul > .active > a:hover, .pagination ul > .active > span:hover, .pagination ul > .active > a:focus, .pagination ul > .active > span:focus{
	background:#e74c3c;border:1px solid #e74c3c;
>>>>>>> 12acf564e6f02b3f31d6ba2d5bbe247302551827
}
footer{
	margin: 30px 0px 0px;
	padding:10px 0px 5px;
	background: #2c3e50; color:#fff;

}
#footer .container {
	position: relative;
}
@media (min-width:992px){
	input.col-md-5{
		width:41.66666666666667% !important;
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	input.col-md-5{
		width:48% !important;
	}
	#frm .btn{
		width:98%;
	}
}
@media (max-width: 992px) {
	#frm .btn{
		width: 100%;
	}
}
@media (max-width: 767px){
	#button-menu-dropdown .btn-group{
		width: 100%;
	}
	#button-menu-dropdown .btn{
		width: 100%
	}
}
#followingBallsG{
position:relative;
width:256px;
height:20px;
margin-left: auto;margin-right: auto;margin-top: 10px
}

.followingBallsG{
background-color:#E74D3C;
position:absolute;
top:0;
left:0;
width:20px;
height:20px;
-moz-border-radius:10px;
-moz-animation-name:bounce_followingBallsG;
-moz-animation-duration:1.5s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:10px;
-webkit-animation-name:bounce_followingBallsG;
-webkit-animation-duration:1.5s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:10px;
-ms-animation-name:bounce_followingBallsG;
-ms-animation-duration:1.5s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:10px;
-o-animation-name:bounce_followingBallsG;
-o-animation-duration:1.5s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:10px;
animation-name:bounce_followingBallsG;
animation-duration:1.5s;
animation-iteration-count:infinite;
animation-direction:linear;

}

#followingBallsG_1{
-moz-animation-delay:0s;
}

#followingBallsG_1{
-webkit-animation-delay:0s;
}

#followingBallsG_1{
-ms-animation-delay:0s;
}

#followingBallsG_1{
-o-animation-delay:0s;
}

#followingBallsG_1{
animation-delay:0s;
}

#followingBallsG_2{
-moz-animation-delay:0.15s;
-webkit-animation-delay:0.15s;
-ms-animation-delay:0.15s;
-o-animation-delay:0.15s;
animation-delay:0.15s;
}

#followingBallsG_3{
-moz-animation-delay:0.3s;
-webkit-animation-delay:0.3s;
-ms-animation-delay:0.3s;
-o-animation-delay:0.3s;
animation-delay:0.3s;
}

#followingBallsG_4{
-moz-animation-delay:0.45s;
-webkit-animation-delay:0.45s;
-ms-animation-delay:0.45s;
-o-animation-delay:0.45s;
animation-delay:0.45s;
}

@-moz-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#E74D3C;
}

50%{
left:236px;
background-color:#E74D3C;
}

100%{
left:0px;
background-color:#E74D3C;
}

}

@-webkit-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#E74D3C;
}

50%{
left:236px;
background-color:#E74D3C;
}

100%{
left:0px;
background-color:#E74D3C;
}

}

@-ms-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#E74D3C;
}

50%{
left:236px;
background-color:#E74D3C;
}

100%{
left:0px;
background-color:#E74D3C;
}

}

@-o-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#E74D3C;
}

50%{
left:236px;
background-color:#E74D3C;
}

100%{
left:0px;
background-color:#E74D3C;
}

}

@keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#E74D3C;
}

50%{
left:236px;
background-color:#E74D3C;
}

100%{
left:0px;
background-color:#E74D3C;
}

}